In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\anann\anaconda3\lib\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\anann\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pyspark
import pandas as pd

In [5]:
#LOADING THE DATASET 
data = pd.read_csv("D:\\Datasets\\ramen-ratings.csv")
data.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [6]:
#CREATING A SPARKSESSION

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('PySpark Practice').getOrCreate()

In [7]:
spark

In [9]:
# READING OUR CSV FILE WRT PYSPARK

spark_df = spark.read.csv("D:\\Datasets\\ramen-ratings.csv")

In [11]:
spark_df.show()

+--------+--------------+--------------------+-----+-----------+-----+-------+
|     _c0|           _c1|                 _c2|  _c3|        _c4|  _c5|    _c6|
+--------+--------------+--------------------+-----+-----------+-----+-------+
|Review #|         Brand|             Variety|Style|    Country|Stars|Top Ten|
|    2580|     New Touch|T's Restaurant Ta...|  Cup|      Japan| 3.75|   NULL|
|    2579|      Just Way|Noodles Spicy Hot...| Pack|     Taiwan|    1|   NULL|
|    2578|        Nissin|Cup Noodles Chick...|  Cup|        USA| 2.25|   NULL|
|    2577|       Wei Lih|GGE Ramen Snack T...| Pack|     Taiwan| 2.75|   NULL|
|    2576|Ching's Secret|     Singapore Curry| Pack|      India| 3.75|   NULL|
|    2575| Samyang Foods|Kimchi song Song ...| Pack|South Korea| 4.75|   NULL|
|    2574|       Acecook|Spice Deli Tantan...|  Cup|      Japan|    4|   NULL|
|    2573|   Ikeda Shoku|Nabeyaki Kitsune ...| Tray|      Japan| 3.75|   NULL|
|    2572|    Ripe'n'Dry|Hokkaido Soy Sauc...| Pack|      Japan| 0.25|   NULL|
|    2571|          KOKA|The Original Spic...| Pack|  Singapore|  2.5|   NULL|
|    2570|   Tao Kae Noi|Creamy tom Yum Ku...| Pack|   Thailand|    5|   NULL|
|    2569|      Yamachan|Yokohama Tonkotsu...| Pack|        USA|    5|   NULL|
|    2568|      Nongshim|Mr. Bibim Stir-Fr...| Pack|South Korea| 4.25|   NULL|
|    2567|        Nissin|Deka Buto Kimchi ...| Bowl|      Japan|  4.5|   NULL|
|    2566|        Nissin|Demae Ramen Bar N...| Pack|  Hong Kong|    5|   NULL|
|    2565|          KOKA|Mushroom Flavour ...|  Cup|  Singapore|  3.5|   NULL|
|    2564|          TRDP|Mario Masala Noodles| Pack|      India| 3.75|   NULL|
|    2563|      Yamachan|   Tokyo Shoyu Ramen| Pack|        USA|    5|   NULL|
|    2562|      Binh Tay|          Mi Hai Cua| Pack|    Vietnam|    4|   NULL|
+--------+--------------+--------------------+-----+-----------+-----+-------+
only showing top 20 rows

In [12]:
#To avoid getting these '_c0' as headers
spark_df = spark.read.option('header','true').csv("D:\\Datasets\\ramen-ratings.csv")

In [13]:
spark_df.show()

+--------+--------------+--------------------+-----+-----------+-----+-------+
|Review #|         Brand|             Variety|Style|    Country|Stars|Top Ten|
+--------+--------------+--------------------+-----+-----------+-----+-------+
|    2580|     New Touch|T's Restaurant Ta...|  Cup|      Japan| 3.75|   NULL|
|    2579|      Just Way|Noodles Spicy Hot...| Pack|     Taiwan|    1|   NULL|
|    2578|        Nissin|Cup Noodles Chick...|  Cup|        USA| 2.25|   NULL|
|    2577|       Wei Lih|GGE Ramen Snack T...| Pack|     Taiwan| 2.75|   NULL|
|    2576|Ching's Secret|     Singapore Curry| Pack|      India| 3.75|   NULL|
|    2575| Samyang Foods|Kimchi song Song ...| Pack|South Korea| 4.75|   NULL|
|    2574|       Acecook|Spice Deli Tantan...|  Cup|      Japan|    4|   NULL|
|    2573|   Ikeda Shoku|Nabeyaki Kitsune ...| Tray|      Japan| 3.75|   NULL|
|    2572|    Ripe'n'Dry|Hokkaido Soy Sauc...| Pack|      Japan| 0.25|   NULL|
|    2571|          KOKA|The Original Spic...| Pack|  Singapore|  2.5|   NULL|
|    2570|   Tao Kae Noi|Creamy tom Yum Ku...| Pack|   Thailand|    5|   NULL|
|    2569|      Yamachan|Yokohama Tonkotsu...| Pack|        USA|    5|   NULL|
|    2568|      Nongshim|Mr. Bibim Stir-Fr...| Pack|South Korea| 4.25|   NULL|
|    2567|        Nissin|Deka Buto Kimchi ...| Bowl|      Japan|  4.5|   NULL|
|    2566|        Nissin|Demae Ramen Bar N...| Pack|  Hong Kong|    5|   NULL|
|    2565|          KOKA|Mushroom Flavour ...|  Cup|  Singapore|  3.5|   NULL|
|    2564|          TRDP|Mario Masala Noodles| Pack|      India| 3.75|   NULL|
|    2563|      Yamachan|   Tokyo Shoyu Ramen| Pack|        USA|    5|   NULL|
|    2562|      Binh Tay|          Mi Hai Cua| Pack|    Vietnam|    4|   NULL|
|    2561|         Paldo|     Premium Gomtang| Pack|South Korea|    4|   NULL|
+--------+--------------+--------------------+-----+-----------+-----+-------+
only showing top 20 rows

In [14]:
#Type of Spark_df 
type(spark_df)

pyspark.sql.dataframe.DataFrame

In [15]:
#DETAILED SCHEMA DESCRIPTION OF THE DATAFRAME
spark_df.printSchema()

root
 |-- Review #: string (nullable = true)
 |-- Brand: string (nullable = true)
 |-- Variety: string (nullable = true)
 |-- Style: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Stars: string (nullable = true)
 |-- Top Ten: string (nullable = true)

In [19]:
#TO CORRECT THE DATA TYPE OF ALL THE FIELDS/COLUMNS WHICH ARE MENTIONED AS STRING 

spark_df = spark.read.option('header','true').csv("D:\\Datasets\\ramen-ratings.csv",inferSchema=True)
spark_df.printSchema()

root
 |-- Review #: string (nullable = true)
 |-- Brand: string (nullable = true)
 |-- Variety: string (nullable = true)
 |-- Style: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Stars: string (nullable = true)
 |-- Top Ten: string (nullable = true)

In [21]:
#TO SELECT AND DISPLAY A PARTICULAR COLUMN

spark_df.select('Brand').show()

+--------------+
|         Brand|
+--------------+
|     New Touch|
|      Just Way|
|        Nissin|
|       Wei Lih|
|Ching's Secret|
| Samyang Foods|
|       Acecook|
|   Ikeda Shoku|
|    Ripe'n'Dry|
|          KOKA|
|   Tao Kae Noi|
|      Yamachan|
|      Nongshim|
|        Nissin|
|        Nissin|
|          KOKA|
|          TRDP|
|      Yamachan|
|      Binh Tay|
|         Paldo|
+--------------+
only showing top 20 rows

In [22]:
#IN ORDER SHOW LIMITED VALUES 
spark_df.head(3)

[Row(Review #='2580', Brand='New Touch', Variety="T's Restaurant Tantanmen ", Style='Cup', Country='Japan', Stars='3.75', Top Ten=None),
 Row(Review #='2579', Brand='Just Way', Variety='Noodles Spicy Hot Sesame Spicy Hot Sesame Guan-miao Noodles', Style='Pack', Country='Taiwan', Stars='1.00', Top Ten=None),
 Row(Review #='2578', Brand='Nissin', Variety='Cup Noodles Chicken Vegetable', Style='Cup', Country='USA', Stars='2.25', Top Ten=None)]

In [24]:
#TO PICK OUT MORE THAN ONE COLUMN TO DISPLAY
spark_df.select(['Style','Stars']).show()

+-----+-----+
|Style|Stars|
+-----+-----+
|  Cup| 3.75|
| Pack| 1.00|
|  Cup| 2.25|
| Pack| 2.75|
| Pack| 3.75|
| Pack| 4.75|
|  Cup| 4.00|
| Tray| 3.75|
| Pack| 0.25|
| Pack| 2.50|
| Pack| 5.00|
| Pack| 5.00|
| Pack| 4.25|
| Bowl| 4.50|
| Pack| 5.00|
|  Cup| 3.50|
| Pack| 3.75|
| Pack| 5.00|
| Pack| 4.00|
| Pack| 4.00|
+-----+-----+
only showing top 20 rows

In [25]:
#DESCRIBE FUNCTION SIMILAR TO PANDAS IN SPARK
spark_df.describe()

DataFrame[summary: string, Review #: string, Brand: string, Variety: string, Style: string, Country: string, Stars: string, Top Ten: string]

In [26]:
spark_df.describe().show()

+-------+-----------------+--------------+------------------------+-----+---------+------------------+-------+
|summary|         Review #|         Brand|                 Variety|Style|  Country|             Stars|Top Ten|
+-------+-----------------+--------------+------------------------+-----+---------+------------------+-------+
|  count|             2584|          2580|                    2580| 2578|     2580|              2580|     41|
|   mean|           1290.5|          NULL|                    NULL| NULL|     NULL| 3.654683740783857|   NULL|
| stddev|744.9261708384261|          NULL|                    NULL| NULL|     NULL|1.0153284752984306|   NULL|
|    min|                "|1 To 3 Noodles|    """A"" Series Art...|  Bar|Australia|              0.00|      "|
|    max|              999|       iNoodle|三養라면 (Samyang Ram...| Tray|  Vietnam|           Unrated|2016 #9|
+-------+-----------------+--------------+------------------------+-----+---------+------------------+-------+

In [29]:
#ADDING COLUMNS IN SPARK DATAFRAME USING WITHCOLUMN()
spark_df = spark_df.withColumn('Experience',spark_df['Review #']/2)

In [30]:
spark_df.show()

+--------+--------------+--------------------+-----+-----------+-----+-------+----------+
|Review #|         Brand|             Variety|Style|    Country|Stars|Top Ten|Experience|
+--------+--------------+--------------------+-----+-----------+-----+-------+----------+
|    2580|     New Touch|T's Restaurant Ta...|  Cup|      Japan| 3.75|   NULL|    1290.0|
|    2579|      Just Way|Noodles Spicy Hot...| Pack|     Taiwan| 1.00|   NULL|    1289.5|
|    2578|        Nissin|Cup Noodles Chick...|  Cup|        USA| 2.25|   NULL|    1289.0|
|    2577|       Wei Lih|GGE Ramen Snack T...| Pack|     Taiwan| 2.75|   NULL|    1288.5|
|    2576|Ching's Secret|     Singapore Curry| Pack|      India| 3.75|   NULL|    1288.0|
|    2575| Samyang Foods|Kimchi song Song ...| Pack|South Korea| 4.75|   NULL|    1287.5|
|    2574|       Acecook|Spice Deli Tantan...|  Cup|      Japan| 4.00|   NULL|    1287.0|
|    2573|   Ikeda Shoku|Nabeyaki Kitsune ...| Tray|      Japan| 3.75|   NULL|    1286.5|
|    2572|    Ripe'n'Dry|Hokkaido Soy Sauc...| Pack|      Japan| 0.25|   NULL|    1286.0|
|    2571|          KOKA|The Original Spic...| Pack|  Singapore| 2.50|   NULL|    1285.5|
|    2570|   Tao Kae Noi|Creamy tom Yum Ku...| Pack|   Thailand| 5.00|   NULL|    1285.0|
|    2569|      Yamachan|Yokohama Tonkotsu...| Pack|        USA| 5.00|   NULL|    1284.5|
|    2568|      Nongshim|Mr. Bibim Stir-Fr...| Pack|South Korea| 4.25|   NULL|    1284.0|
|    2567|        Nissin|Deka Buto Kimchi ...| Bowl|      Japan| 4.50|   NULL|    1283.5|
|    2566|        Nissin|Demae Ramen Bar N...| Pack|  Hong Kong| 5.00|   NULL|    1283.0|
|    2565|          KOKA|Mushroom Flavour ...|  Cup|  Singapore| 3.50|   NULL|    1282.5|
|    2564|          TRDP|Mario Masala Noodles| Pack|      India| 3.75|   NULL|    1282.0|
|    2563|      Yamachan|   Tokyo Shoyu Ramen| Pack|        USA| 5.00|   NULL|    1281.5|
|    2562|      Binh Tay|          Mi Hai Cua| Pack|    Vietnam| 4.00|   NULL|    1281.0|
|    2561|         Paldo|     Premium Gomtang| Pack|South Korea| 4.00|   NULL|    1280.5|
+--------+--------------+--------------------+-----+-----------+-----+-------+----------+
only showing top 20 rows

In [31]:
#DROPPING THE COLUMNS
spark_df = spark_df.drop('Experience','Top Ten')

In [32]:
spark_df.show()

+--------+--------------+--------------------+-----+-----------+-----+
|Review #|         Brand|             Variety|Style|    Country|Stars|
+--------+--------------+--------------------+-----+-----------+-----+
|    2580|     New Touch|T's Restaurant Ta...|  Cup|      Japan| 3.75|
|    2579|      Just Way|Noodles Spicy Hot...| Pack|     Taiwan| 1.00|
|    2578|        Nissin|Cup Noodles Chick...|  Cup|        USA| 2.25|
|    2577|       Wei Lih|GGE Ramen Snack T...| Pack|     Taiwan| 2.75|
|    2576|Ching's Secret|     Singapore Curry| Pack|      India| 3.75|
|    2575| Samyang Foods|Kimchi song Song ...| Pack|South Korea| 4.75|
|    2574|       Acecook|Spice Deli Tantan...|  Cup|      Japan| 4.00|
|    2573|   Ikeda Shoku|Nabeyaki Kitsune ...| Tray|      Japan| 3.75|
|    2572|    Ripe'n'Dry|Hokkaido Soy Sauc...| Pack|      Japan| 0.25|
|    2571|          KOKA|The Original Spic...| Pack|  Singapore| 2.50|
|    2570|   Tao Kae Noi|Creamy tom Yum Ku...| Pack|   Thailand| 5.00|
|    2569|      Yamachan|Yokohama Tonkotsu...| Pack|        USA| 5.00|
|    2568|      Nongshim|Mr. Bibim Stir-Fr...| Pack|South Korea| 4.25|
|    2567|        Nissin|Deka Buto Kimchi ...| Bowl|      Japan| 4.50|
|    2566|        Nissin|Demae Ramen Bar N...| Pack|  Hong Kong| 5.00|
|    2565|          KOKA|Mushroom Flavour ...|  Cup|  Singapore| 3.50|
|    2564|          TRDP|Mario Masala Noodles| Pack|      India| 3.75|
|    2563|      Yamachan|   Tokyo Shoyu Ramen| Pack|        USA| 5.00|
|    2562|      Binh Tay|          Mi Hai Cua| Pack|    Vietnam| 4.00|
|    2561|         Paldo|     Premium Gomtang| Pack|South Korea| 4.00|
+--------+--------------+--------------------+-----+-----------+-----+
only showing top 20 rows

In [36]:
#RENAMING THE COLUMNS

#FOR A SINGLE COLUMN RENAMING
#spark_df.withColumnRenamed('Review #','Review ID')

#FOR MULTIPLE COLUMN RENAMING 
spark_df = spark_df.withColumnsRenamed({'Review #':'Review ID','Country':'Countries'})

In [37]:
spark_df.show()

+---------+--------------+--------------------+-----+-----------+-----+
|Review ID|         Brand|             Variety|Style|  Countries|Stars|
+---------+--------------+--------------------+-----+-----------+-----+
|     2580|     New Touch|T's Restaurant Ta...|  Cup|      Japan| 3.75|
|     2579|      Just Way|Noodles Spicy Hot...| Pack|     Taiwan| 1.00|
|     2578|        Nissin|Cup Noodles Chick...|  Cup|        USA| 2.25|
|     2577|       Wei Lih|GGE Ramen Snack T...| Pack|     Taiwan| 2.75|
|     2576|Ching's Secret|     Singapore Curry| Pack|      India| 3.75|
|     2575| Samyang Foods|Kimchi song Song ...| Pack|South Korea| 4.75|
|     2574|       Acecook|Spice Deli Tantan...|  Cup|      Japan| 4.00|
|     2573|   Ikeda Shoku|Nabeyaki Kitsune ...| Tray|      Japan| 3.75|
|     2572|    Ripe'n'Dry|Hokkaido Soy Sauc...| Pack|      Japan| 0.25|
|     2571|          KOKA|The Original Spic...| Pack|  Singapore| 2.50|
|     2570|   Tao Kae Noi|Creamy tom Yum Ku...| Pack|   Thailand| 5.00|
|     2569|      Yamachan|Yokohama Tonkotsu...| Pack|        USA| 5.00|
|     2568|      Nongshim|Mr. Bibim Stir-Fr...| Pack|South Korea| 4.25|
|     2567|        Nissin|Deka Buto Kimchi ...| Bowl|      Japan| 4.50|
|     2566|        Nissin|Demae Ramen Bar N...| Pack|  Hong Kong| 5.00|
|     2565|          KOKA|Mushroom Flavour ...|  Cup|  Singapore| 3.50|
|     2564|          TRDP|Mario Masala Noodles| Pack|      India| 3.75|
|     2563|      Yamachan|   Tokyo Shoyu Ramen| Pack|        USA| 5.00|
|     2562|      Binh Tay|          Mi Hai Cua| Pack|    Vietnam| 4.00|
|     2561|         Paldo|     Premium Gomtang| Pack|South Korea| 4.00|
+---------+--------------+--------------------+-----+-----------+-----+
only showing top 20 rows

In [ ]:
#HANDLING MISSING DATA
#spark_df.na.drop(how='all'/'any', thresh, subset)

#Threshold=2 ==> Atleast 2 non-null values should be present in rows;less than those rows will be dropped 
#Subset = [<column_name>] ==> Any null value in that column; that whole row will be dropped

In [40]:
#FILTERING THE  DATAFRAME

spark_df.filter('Stars < 1.00').show()

+---------+----------------+--------------------+-----+-----------+-----+
|Review ID|           Brand|             Variety|Style|  Countries|Stars|
+---------+----------------+--------------------+-----+-----------+-----+
|     2572|      Ripe'n'Dry|Hokkaido Soy Sauc...| Pack|      Japan| 0.25|
|     2527|   Uni-President|     Mushroom Flavor| Pack|    Vietnam| 0.00|
|     2503|Sichuan Guangyou|Sweet Potato Inst...| Bowl|      China| 0.00|
|     2426| Dr. McDougall's|Vegan Pad Thai No...|  Cup|        USA| 0.00|
|     2406|Sichuan Guangyou|Sweet Potato Inst...| Pack|      China| 0.25|
|     2382|        Nongshim|Seaweed Instant N...|  Cup|South Korea| 0.50|
|     2287|     Master Kong|Artificial Abalon...| Pack|      China| 0.00|
|     2208|          Roland|Ramen Japanese St...| Pack|        USA| 0.00|
|     2103|          Roland|Ramen Japanese St...| Pack|        USA| 0.00|
|     2056|            Koyo|Garlic Pepper Red...| Pack|        USA| 0.00|
|     2023|    Urban Noodle|Authentic Street ...|  Cup|         UK| 0.00|
|     2017|   Samyang Foods|Honey & Cheese Bi...| Bowl|South Korea| 0.00|
|     1956|        Maruchan|Spicy Tomato Sals...|  Cup|      Japan| 0.00|
|     1930|        Koh Thai|Island Of Flavour...| Pack|Netherlands| 0.25|
|     1923|         Conimex|Oriental Noodles ...|  Cup|Netherlands| 0.50|
|     1920|          Itsuki|Ramen Tonkotudou ...| Pack|      Japan| 0.75|
|     1917|        IbuRamen|Mi Goreng Bento N...| Tray|        USA| 0.25|
|     1913|      Thai Smile|Mushroom Rice Noo...| Bowl|        USA| 0.00|
|     1873|           Vedan|Wei Wei A Instant...| Bowl|     Taiwan| 0.00|
|     1863|          Baijia|Broad Noodle Pick...| Pack|      China| 0.00|
+---------+----------------+--------------------+-----+-----------+-----+
only showing top 20 rows

In [41]:
#SHOWING ONLY SPECIFIC COLUMNS PERTAINING TO THE FILTER
spark_df.filter('Stars < 1.00').select(['Brand','Countries']).show()

+----------------+-----------+
|           Brand|  Countries|
+----------------+-----------+
|      Ripe'n'Dry|      Japan|
|   Uni-President|    Vietnam|
|Sichuan Guangyou|      China|
| Dr. McDougall's|        USA|
|Sichuan Guangyou|      China|
|        Nongshim|South Korea|
|     Master Kong|      China|
|          Roland|        USA|
|          Roland|        USA|
|            Koyo|        USA|
|    Urban Noodle|         UK|
|   Samyang Foods|South Korea|
|        Maruchan|      Japan|
|        Koh Thai|Netherlands|
|         Conimex|Netherlands|
|          Itsuki|      Japan|
|        IbuRamen|        USA|
|      Thai Smile|        USA|
|           Vedan|     Taiwan|
|          Baijia|      China|
+----------------+-----------+
only showing top 20 rows

In [46]:
#APPLYING MULTIPLE FILTER CONDITIONS
#USING & FUNCTION

spark_df.filter((spark_df['Stars'] >= 4.00) & (spark_df['Countries'] == 'India')).show()

+---------+--------------+--------------------+-----+---------+-----+
|Review ID|         Brand|             Variety|Style|Countries|Stars|
+---------+--------------+--------------------+-----+---------+-----+
|     2556|Ching's Secret|Hot Garlic Instan...| Pack|    India| 4.25|
|     2373|        Nissin|Top Ramen Atta No...| Pack|    India| 4.50|
|     2351|1 To 3 Noodles|      Chatpat Masala| Pack|    India| 4.00|
|     2329|     Patanjali|Atta Noodles Jhat...| Pack|    India| 5.00|
|     2304|         Maggi|2 Minute Noodles ...| Pack|    India| 5.00|
|     2269|       Wai Wai|Instant Noodles V...| Pack|    India| 4.00|
|     2224|       Wai Wai|X-Press Flavour O...| Pack|    India| 4.00|
+---------+--------------+--------------------+-----+---------+-----+

In [48]:
#USING '|' OR FUNCTION

spark_df.filter((spark_df['Stars'] >= 4.00) | (spark_df['Brand'] == 'Maggi')).show()

+---------+----------------+--------------------+-----+-----------+-----+
|Review ID|           Brand|             Variety|Style|  Countries|Stars|
+---------+----------------+--------------------+-----+-----------+-----+
|     2575|   Samyang Foods|Kimchi song Song ...| Pack|South Korea| 4.75|
|     2574|         Acecook|Spice Deli Tantan...|  Cup|      Japan| 4.00|
|     2570|     Tao Kae Noi|Creamy tom Yum Ku...| Pack|   Thailand| 5.00|
|     2569|        Yamachan|Yokohama Tonkotsu...| Pack|        USA| 5.00|
|     2568|        Nongshim|Mr. Bibim Stir-Fr...| Pack|South Korea| 4.25|
|     2567|          Nissin|Deka Buto Kimchi ...| Bowl|      Japan| 4.50|
|     2566|          Nissin|Demae Ramen Bar N...| Pack|  Hong Kong| 5.00|
|     2563|        Yamachan|   Tokyo Shoyu Ramen| Pack|        USA| 5.00|
|     2562|        Binh Tay|          Mi Hai Cua| Pack|    Vietnam| 4.00|
|     2561|           Paldo|     Premium Gomtang| Pack|South Korea| 4.00|
|     2560|          Nissin|Cup Noodles Laksa...|  Cup|  Hong Kong| 4.25|
|     2559|Jackpot Teriyaki|          Beef Ramen| Pack|        USA| 5.00|
|     2558|            KOKA|Creamy Soup With ...|  Cup|  Singapore| 5.00|
|     2557|        Yamachan|  Sapporo Miso Ramen| Pack|        USA| 4.75|
|     2556|  Ching's Secret|Hot Garlic Instan...| Pack|      India| 4.25|
|     2555|   Samyang Foods|Song Song Kimchi ...| Bowl|South Korea| 4.25|
|     2553|          Nissin|Hakata Ramen Nood...| Bowl|      Japan| 4.75|
|     2552|         MyKuali|Penang White Curr...| Bowl|   Malaysia| 5.00|
|     2551|            KOKA|Signature Tom Yum...| Pack|  Singapore| 4.00|
|     2550|   Samyang Foods|    Paegaejang Ramen| Pack|South Korea| 5.00|
+---------+----------------+--------------------+-----+-----------+-----+
only showing top 20 rows

In [51]:
#USING NOT FUNCTION(NEGATION)

spark_df.filter(~(spark_df['Stars'] >= 4.00) & (spark_df['Countries'] == 'India')).show()

+---------+-------------------+--------------------+-----+---------+-----+
|Review ID|              Brand|             Variety|Style|Countries|Stars|
+---------+-------------------+--------------------+-----+---------+-----+
|     2576|     Ching's Secret|     Singapore Curry| Pack|    India| 3.75|
|     2564|               TRDP|Mario Masala Noodles| Pack|    India| 3.75|
|     2509|              Maggi|Hot Heads Green C...| Pack|    India| 3.50|
|     2402|              Maggi|Nutri-licious Paz...| Pack|    India| 3.75|
|     2360|            Wai Wai|Instant Noodles A...| Pack|    India| 2.00|
|     2033|Chaudhary's Wai Wai|Instant Noodles A...| Pack|    India| 2.50|
|     1599|             Nissin|Top Ramen Super N...| Pack|    India| 3.50|
|     1576|              Maggi|Authentic Indian ...| Pack|    India| 3.75|
|     1566|             Nissin|Cup Noodles Tomat...|  Cup|    India| 3.25|
|     1556|     Ching's Secret|Hot Garlic Instan...| Pack|    India| 3.75|
|     1543|              Maggi|2 Minute Noodles ...| Pack|    India| 3.75|
|     1519|     Ching's Secret|Manchurian Instan...| Pack|    India| 3.50|
|     1506|             Nissin|Cup Noodles Mug N...| Pack|    India| 3.75|
|     1489|              Maggi|Multigrainz Noodl...| Pack|    India| 3.25|
|     1405|              Maggi|Masala Dumdaar No...| Pack|    India| 3.75|
|      763|              Maggi|2 Minute Noodles ...| Pack|    India| 3.25|
|      616|              Maggi|2 Minute Noodles ...| Pack|    India| 2.00|
|      574|              Maggi|2 Minute Noodles ...| Pack|    India| 3.75|
|      196|             Nissin|Cup Noodles Pani ...|  Cup|    India| 1.50|
|      189|             Nissin|Cup Noodles Manch...|  Cup|    India| 3.00|
+---------+-------------------+--------------------+-----+---------+-----+
only showing top 20 rows

In [61]:
#APPLYING GROUPBY OPERATION 

spark_df.groupBy('Brand').count().show()

+-----------------+-----+
|            Brand|count|
+-----------------+-----+
|          Wai Wai|   25|
|             E-mi|    2|
|          Payless|    6|
|    Sakurai Foods|   10|
|   Hsin Tung Yang|    1|
|     Tokyo Noodle|    4|
|        Four Seas|    8|
|        President|    1|
|      Ikeda Shoku|    2|
|         Yamachan|   11|
|         Ishimaru|    1|
|   Nakaya Shouten|    1|
|       Springlife|    1|
|          Sakurai|    1|
|Tokachimen Koubou|    1|
|     Rocket Brand|    1|
|   Sugakiya Foods|    2|
|          Daikoku|    6|
|  Sapporo Ichiban|   25|
|            Sanpo|    1|
+-----------------+-----+
only showing top 20 rows